# Dependencies
/node_modules

# Compiled contract artifacts
/build

# Truffle build and networks file
truffle-config.js
truffle.js

# Environment files
.env

# Secrets
secrets.json

# IDE and editor directories
/.idea
/.vscode

# Operating system files
.DS_Store
Thumbs.db

node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
